@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova/ProximaNova-Extrabld.eot");
  src: local("Proxima Nova Extrabold"), local("ProximaNova-Extrabld"), url("../fonts/ProximaNova/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'TT Limes Slab';
  src: url("../fonts/TTLimesSlab/TTLimesSlab-Regular.eot");
  src: local("TT Limes Slab Regular"), local("TTLimesSlab-Regular"), url("../fonts/TTLimesSlab/TTLimesSlab-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLimesSlab/TTLimesSlab-Regular.woff2") format("woff2"), url("../fonts/TTLimesSlab/TTLimesSlab-Regular.woff") format("woff"), url("../fonts/TTLimesSlab/TTLimesSlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TT Limes Slab';
  src: url("../fonts/TTLimesSlab/TTLimesSlab-Bold.eot");
  src: local("TT Limes Slab Bold"), local("TTLimesSlab-Bold"), url("../fonts/TTLimesSlab/TTLimesSlab-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLimesSlab/TTLimesSlab-Bold.woff2") format("woff2"), url("../fonts/TTLimesSlab/TTLimesSlab-Bold.woff") format("woff"), url("../fonts/TTLimesSlab/TTLimesSlab-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

  html {
    margin: 0; 
    overflow-x: hidden;
  }

body {
  margin: 0;
  padding: 0;
  color: #000;
  line-height: 1.5;
  font-family: 'Proxima Nova';
  font-size: 24px;
  font-weight: 400;
  overflow-x: hidden; }
  body .fixed {
    position: fixed; }

* {
  box-sizing: border-box; }

strong {
  font-weight: 700; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'TT Limes Slab';
  font-weight: 400;
  line-height: 1; }

h1 {
  font-size: 88px; }

img {
  max-width: 100%; 
  max-height: 100%; 
}

a {
  text-decoration: none; }
  a:focus {
    outline: none; }

.container {
  width: 1170px;
  margin: auto; }

.btn {
  position: relative;
  display: inline-block;
  padding: 36px 112px;
  color: #ffffff;
  background-color: #914df7;
  background-image: linear-gradient(to top, #f42c43 0%, #f46e53 100%);
  border-radius: 47px;
  border: 1px solid #e65868;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.17);
  text-transform: uppercase;
  font-family: 'Proxima Nova';
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.96px;
  transition: 0.3s; }
  .btn:before, .btn:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .btn:before {
    border-radius: 43px;
    box-shadow: 0 5px 0 #df181f;
    z-index: 0; }
  .btn:after {
    background-image: linear-gradient(to bottom, #f42c43 0%, #f46e53 100%);
    border-radius: 47px;
    border: 1px solid #e65868;
    opacity: 0;
    transition: 0.3s;
    z-index: 1; }
  .btn:hover:after {
    opacity: 1; }
  .btn__text {
    position: relative;
    z-index: 2; }

.text_upp {
  text-transform: uppercase; }

.text_red {
  color: #da2737;
  font-weight: 700; }

.text-cloud {
  position: relative;
  max-width: 868px;
  margin: 0 auto calc(33px + 15px) auto;
  padding: 75px 84px;
  background-color: #ffffff;
  border-radius: 35px;
  text-align: center; }
  .text-cloud:before, .text-cloud:after {
    position: absolute;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .text-cloud:before {
    bottom: 95%;
    width: 127px;
    height: 127px;
    background-color: #ffffff;
    border-radius: 50%;
    transform: translate(-50%, 50%); }
  .text-cloud:after {
    content: '';
    top: calc(100% - 1px);
    border: 33px solid transparent;
    border-top: 33px solid #ffffff;
    transform: translateX(-50%); }

.more__content {
  display: none; }

.more__toggle {
  position: relative;
  display: inline-block;
  margin: 20px 0 0 50px;
  color: #727272;
  cursor: pointer;
  transition: 0.3s; }
  .more__toggle:hover {
    opacity: 0.7; }
  .more__toggle:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    background-image: url("../img/screen-4/dashed.svg");
    background-size: contain; }

.parallax {
  display: flex; }

.cloud-bg {
  background-image: url("../img/screen-1/background.jpg");
  background-size: cover;
  background-position: bottom center;
  padding-bottom: 55px; }

.crisis {
  margin-bottom: 40px;
  padding: 85px 0 20px 0;
  font-family: 'TT Limes Slab';
  line-height: 1.2;
  text-align: center; }
  .crisis__heart {
    position: relative;
    display: inline-block;
    margin-top: 40px; }
  .crisis__text {
    margin-top: 15px;
    font-family: 'Proxima Nova'; }
  .crisis-text {
    margin-bottom: 40px; }
    .crisis-text__large {
      position: relative;
      display: inline-block;
      margin-bottom: 30px;
      font-family: 'TT Limes Slab';
      font-size: 75px;
      line-height: 1; }
      .crisis-text__large:before {
        content: '...';
        position: absolute;
        left: 100%;
        display: block; }
    .crisis-text__small {
      font-size: 20px;
      line-height: 1.3; }
      .crisis-text__small .text_upp {
        font-size: 29px;
        font-weight: 700; }

.heart__text {
  position: absolute;
  display: flex;
  align-items: baseline;
  text-align: left;
  color: #938887;
  font-size: 44px; }
  .heart__text_left {
    top: 0;
    right: calc(100% + 50px);
    font-size: 53px;
    transform: rotate(-10deg); }
  .heart__text_right {
    top: 30%;
    left: calc(100% + 40px);
    width: fit-content;
    font-size: 56px;
    transform: rotate(5deg); }
  .heart__text_bottom {
    position: relative;
    margin-top: 36px;
    margin-left: -20px; }
  .heart__text-circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    margin-right: 28px;
    border-radius: 50%;
    border: 1px solid #fff; }
    .heart__text-circle:before {
      content: '';
      display: block;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: inset 0 4px 3px rgba(0, 0, 0, 0.14); }
      .heart__text-inner {
        background-color: #938887;
        color: transparent;
        text-shadow: 0px 0px 0px rgba(255,255,255,0);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
      }
      .heart__text_left:hover .heart__text-inner,
      .heart__text_right:hover .heart__text-inner {
        background-color: #94271d;
        text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
        cursor: default;
      }
      .heart__text_bottom:hover .heart__text-inner {
        background-color: #f75352;
        text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
        cursor: default;        
      }
      .heart__text-circle,
      .heart__text-circle:before {
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;        
      }
      .heart__text_left:hover .heart__text-circle,
      .heart__text_right:hover .heart__text-circle {
        border: 1px solid #b76e67;
      }
      .heart__text_left:hover .heart__text-circle:before,
      .heart__text_right:hover .heart__text-circle:before {
        background-color: #b76e67;
      }
      .heart__text_bottom:hover .heart__text-circle {
        border: 1px solid #ff8d8d;
      }
      .heart__text_bottom:hover .heart__text-circle:before {
        background-color: #ff8d8d;
      }

.heart-image__img {
  position: relative; }
  .heart-image__img::before {
    content: '';
    position: absolute;
    top: -18%;
    left: -130px;
    display: block;
    width: 140%;
    height: 140%;
    background-image: url("../img/screen-1/heart-shadow.png");
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 0; }
  .heart-image__img img {
    position: relative;
    z-index: 0; }

.heart-image__text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  color: #fff;
  font-size: 49px;
  transform: rotate(-10deg); }
  .heart-image__text_left {
    position: absolute;
    right: calc(50% + 15px);
    white-space: nowrap; }
  .heart-image__text_right {
    position: absolute;
    left: calc(50% + 40px); }

.problems {
  position: relative;
  padding: 65px 0 132px 0;
  text-align: center; }
  .problems:before, .problems:after {
    content: '';
    position: absolute;
    bottom: 30px;
    display: block;
    height: 90%;
    width: 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
    z-index: 1; }
  .problems:before {
    left: -60px;
    background-image: url("../img/screen-1/problems-woman.png");
    background-position-x: left; }
  .problems:after {
    right: 0;
    background-image: url("../img/screen-1/problems-man.png");
    background-position-x: right; }
  .problems__cloud {
    max-width: 780px;
    padding: 67px 70px;
    font-size: 28px;
    font-weight: 600; }
    .problems__cloud:before {
      content: url("../img/screen-1/face-sad.png"); }
  .problems__text_grey {
    color: #b3a7a8; }
  .problems__text_large {
    font-family: "TT Limes Slab";
    font-size: 54px;
    font-weight: 400; }
  .problems .text_red {
    font-size: 39px; }
  .problems__list {
    text-align: center;
    color: #ffffff;
    font-family: "TT Limes Slab"; }
    .problems__list span {
      display: block;
    }
    .problems__list_one {
      font-size: 58px;
      transform: rotate(2deg); }
      .problems__list_one span {
        padding-left: 20px; }
    .problems__list_two {
      font-size: 47px;
      transform: rotate(5deg); }
      .problems__list_two .problems__list-arrow {
        padding-right: 60px; }
    .problems__list_three {
      font-size: 57px;
      transform: rotate(-5deg); }
      .problems__list_three span {
        padding-right: 20px; }
      .problems__list_three .problems__list-arrow {
        padding-right: 20px; }
    .problems__list_four {
      font-size: 52px;
      transform: rotate(2deg); }
      .problems__list_four span {
        padding-left: 10px; }
      .problems__list_four .problems__list-arrow {
        padding-right: 20px; }
    .problems__list-arrow {
      line-height: 1; }
  .problems__result {
    display: inline-block;
    max-width: 440px;
    margin-top: 15px;
    padding: 20px 50px;
    background-image: url("../img/screen-1/problems-result-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    line-height: 1.3; }
    .problems__result img {
      margin-right: 20px; }
  .problems-result__wrap {
    display: flex;
    align-items: center; }

.need {
  position: relative; }
  .need:before, .need__anchor {
    content: '';
    position: absolute;
    display: block;
    z-index: 0; }
  .need:before {
    top: -65px;
    left: 0;
    width: 100%;
    height: calc(100% + 65px);
    background-image: url("../img/screen-2/need-bg.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover; }
  .need__anchor {
    top: -85px;
    left: 50%;
    width: 28px;
    height: 40px;
    background-image: url("../img/screen-2/arrow.png");
    transform: translateX(-50%);
    transition: 0.3s; }
    .need__anchor:hover {
      top: -80px; }
  .need__wrap {
    position: relative;
    max-width: 1100px;
    margin: auto;
    padding: 80px 0 215px 0;
    z-index: 1; }
  .need__text {
    text-align: center; }
    .need__text_small {
      font-size: 31px; }
    .need__text_large {
      font-family: "TT Limes Slab";
      font-size: 86px;
      line-height: 1;
      margin-top: 15px; }
  .need__item {
    width: calc(33% - 60px); }
    .need__items {
      display: flex;
      justify-content: space-between;
      align-items: flex-start; }
  .need-item__description {
    max-width: 265px;
    margin: auto; }
  .need-item:nth-child(1) .need-item__description {
    max-width: 295px; }
  .need-item__image {
    text-align: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
    .need__item:hover .need-item__image {
      transform: scale(1.05);
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
}
  .need-item__title {
    font-family: "TT Limes Slab";
    font-size: 47px; }
  .need-item__text {
    font-size: 16px;
    line-height: 1.3; }

.steps {
  position: relative;
  padding: 360px 0 310px 0;
  background-image: url("../img/screen-3/steps-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .steps:before, .steps:after {
    content: '';
    position: absolute;
    display: block;
    height: 90%;
    width: 650px;
    background-repeat: no-repeat;
    background-position-y: bottom;
    z-index: 1; }
  .steps:before {
    left: calc((100% - 1170px) / 2 - 250px);
    bottom: 30px;
    background-image: url("../img/screen-3/video-woman.png");
    background-position-x: left; }
  .steps:after {
    right: calc((100% - 1170px) / 2 - 170px);
    bottom: 55px;
    background-image: url("../img/screen-3/video-man.png");
    background-position-x: right; }
  .steps__cloud {
    position: absolute;
    top: -85px;
    left: 50%;
    max-width: 860px;
    font-weight: 600;
    line-height: 1.2;
    transform: translateX(-50%); }
    .steps__cloud span {
      display: block; }
    .steps__cloud .text_red {
      margin-bottom: 20px;
      font-family: "TT Limes Slab";
      font-size: 49px;
      font-weight: 700; }
  .steps-cloud__large {
    font-family: "TT Limes Slab";
    font-size: 49px;
    font-weight: 400; }
  .steps .text-cloud:before {
    content: url("../img/screen-1/face-good.png"); }
  .steps-video {
    position: relative;
    max-width: 860px;
    margin: auto;
    padding: 145px 110px 140px 110px;
    border-radius: 35px;
    background-color: #ffffff;
    background-image: url("../img/screen-3/video-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
    color: #070709;
    font-size: 33px;
    font-weight: 600; }
    .steps-video__play {
      width: fit-content;
      margin: auto;
      margin-bottom: 20px; }
      .steps-video__play img {
        transition: 0.3s;
        cursor: pointer; }
      .steps-video__play:hover img {
        transform: scale(1.05); }
    .steps-video__text {
      position: relative;
      width: fit-content;
      margin: auto;
      z-index: 5; }
    .steps-video span {
      display: block; }
    .steps-video__time {
      color: #b3a7a8;
      font-size: 23px; }

.program {
  position: relative;
  padding: 155px 0 255px 0;
  background-image: url("../img/screen-4/program-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: #ffffff;
  font-size: 25px; }
  .program__anchor, .program:after {
    content: '';
    position: absolute;
    left: 50%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1; }
  .program__anchor {
    top: -51px;
    height: 103px;
    width: 103px;
    border-radius: 50%;
    background-color: #ffffff;
    background-image: url("../img/screen-4/arrow-black.png");
    background-position-y: 50%;
    transform: translateX(-50%);
    transition: 0.3s; }
    .program__anchor:hover {
      background-position-y: calc(50% + 5px); }
  .program:after {
    bottom: -130px;
    width: 600px;
    height: 300px;
    background-image: url("../img/screen-4/program-6.png");
    transform: translateX(150px); }
  .program h2 {
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit; }
  .program__wrap {
    overflow: hidden; }
  .program__title {
    margin-bottom: 65px;
    text-align: center;
    font-family: "TT Limes Slab";
    font-size: 79px;
    line-height: 1; }
  .program__subtitle {
    margin-bottom: 110px;
    text-align: center;
    font-size: 37px; }
    .program__subtitle span {
      display: block; }
    .program__subtitle_large {
      font-size: 58px;
      font-weight: 700; }
  .program__lessons {
    max-width: 860px; }

.lesson {
  position: relative;
  margin-bottom: 90px; }
  .lesson:before {
    content: '';
    position: absolute;
    left: 100%;
    display: block;
    height: 150%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain; }
  .lesson:before {
    top: -100px; }
  .lesson:nth-child(1):before {
    background-image: url("../img/screen-4/program-1.png"); }
  .lesson:nth-child(2):before {
    background-image: url("../img/screen-4/program-2.png"); }
  .lesson:nth-child(3):before {
    top: -50px;
    background-image: url("../img/screen-4/program-3.png"); }
  .lesson:nth-child(4):before {
    background-image: url("../img/screen-4/program-4.png");
    background-position: 0 -250px; }
  .lesson:nth-child(5):before {
    background-image: url("../img/screen-4/program-5.png"); }
  .lesson__name {
    margin-bottom: 15px;
    font-size: 38px;
    line-height: 1.2; }
  .lesson__number {
    font-weight: 800; }
  .lesson__list {
    margin-bottom: 45px; }
    .lesson__list li {
      position: relative;
      margin-bottom: 10px;
      padding-left: 50px; }
      .lesson__list li:before {
        content: '>';
        position: absolute;
        left: 0;
        color: #727272;
        font-family: monospace; }

.about {
  position: relative;
  padding: 210px 0 120px 0;
  background-image: url("../img/screen-5/about-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 24px; }
  .about:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 15%;
    width: 470px;
    height: 747px;
    background-image: url("../img/screen-5/about-1-1.png");
    background-repeat: no-repeat;
    background-size: cover; }
  .about__cloud {
    position: absolute;
    top: -80px;
    left: 50%;
    font-family: "TT Limes Slab";
    font-size: 49px;
    transform: translateX(-50%);
    z-index: 1; }
  .about .text-cloud {
    padding: 65px 84px; }
    .about .text-cloud:before {
      content: url("../img/screen-5/heart-icon-about.png"); }
  .about__text {
    max-width: 750px;
    line-height: 1.3; }
  .about__title {
    margin-bottom: 30px;
    font-family: "TT Limes Slab";
    font-size: 40px;
    line-height: 1; }
    .about__title_large {
      font-size: 50px; }
  .about__list {
    margin-bottom: 44px; }
    .about__list li {
      position: relative;
      margin-bottom: 10px;
      padding-left: 40px; }
      .about__list li:before {
        content: '';
        position: absolute;
        top: 10px;
        left: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 3px solid #727272; }

.sertificate {
  display: flex; }
  .sertificate__item {
    position: relative;
    padding-right: 24px;
    z-index: 1;
    transition: 0.2s ease-in-out;
    cursor: pointer; }
    .sertificate__item:before, .sertificate__item:after {
      content: '';
      position: absolute;
      display: block; }
    .sertificate__item:before {
      width: 210px;
      height: 157px;
      background-image: url("../img/screen-5/about-sertificate-bg.png");
      background-repeat: no-repeat;
      background-position: center;
      z-index: -1;
      transform: translate(-23%, -11%); }
    .sertificate__item:after {
      right: 14px;
      bottom: 30%;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid #e65868;
      background-color: #000000;
      background-image: url("../img/screen-5/about-loop.png"), linear-gradient(to top, #f42c43 0%, #f46e53 100%);
      background-repeat: no-repeat;
      background-position: center; }
    .sertificate__item:hover {
      transform: scale(1.1); }

.course {
  position: relative; }
  .course:before, .course__anchor {
    content: '';
    position: absolute;
    display: block;
    z-index: 0; }
  .course:before {
    top: -80px;
    left: 0;
    width: 100%;
    height: calc(100% + 80px);
    background-image: url("../img/screen-6/course-bg.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover; }
  .course__anchor {
    top: -35px;
    left: 50%;
    width: 28px;
    height: 40px;
    background-image: url("../img/screen-2/arrow.png");
    transform: translateX(-50%);
    transition: 0.3s; }
    .course__anchor:hover {
      top: -30px; }
  .course__wrap {
    position: relative;
    padding: 110px 0 110px 0;
    overflow: hidden; }
  .course__title {
    margin-bottom: 65px;
    text-align: center;
    color: #fff;
    font-family: "TT Limes Slab";
    font-size: 58px; }
    .course__title .text_upp {
      font-weight: 700; }
  .course__content {
    display: flex;
    justify-content: space-between; }
  .course__heart {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .course__heart-image {
    position: relative;
  }
  .course__heart img {
    width: 100%;
    max-width: 500px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
  .course__heart .heart_off {
    opacity: 1;
  }
  .course__heart .heart_on {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .course .heart__content {
    margin-top: 20px;
    color: #fafafa;
    text-align: center;
    font-family: "TT Limes Slab";
    font-size: 60px;
    line-height: 1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  .course__heart:hover .heart_on  {
    opacity: 1;
  }
  .course__heart:hover .heart__content {
    text-shadow: 1px 1px 3px white, 0 0 1em #f46351
  }

.form {
  position: relative;
  max-width: 450px;
  padding: 45px 55px 70px 55px;
  border-radius: 35px;
  background-color: #fff;
  z-index: 1; }
  .form:after {
    content: '';
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    display: block;
    width: 100%;
    height: 100px;
    border-radius: 35px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: linear-gradient(to top, #f42c43 0%, #fff 100%);
    opacity: 0.1; }
  .form__dots {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 24px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -1; }
    .form__dots_top, .form__dots_bottom {
      display: flex;
      justify-content: space-between;
      align-items: space-between; }
  .form__dot {
    width: 19px;
    height: 19px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.44), inset -1px -1px 2px #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    background-color: #000000; }
    .form__dot:nth-child(1) {
      top: 0;
      left: 0; }
    .form__dot:nth-child(2) {
      top: 0;
      right: 0; }
    .form__dot:nth-child(3) {
      right: 0;
      bottom: 0; }
    .form__dot:nth-child(4) {
      bottom: 0;
      left: 0; }
  .form__title {
    margin-bottom: 42px;
    padding: 0 16px;
    font-size: 23px;
    font-weight: 700; }
  .form__inputs {
    margin-bottom: 33px; }
  .form__input {
    margin-bottom: 16px; }
  .form input {
    width: 100%;
    padding: 24px 40px;
    border-radius: 33px;
    border: 1px solid transparent;
    background-color: #e8e8e8;
    font-size: 24px;
    transition: 0.3s; }
    .form input:hover, .form input:focus {
      border: 1px solid #727272; }
  .form__price {
    text-align: center;
    font-family: "TT Limes Slab";
    font-size: 56px; }
  .form .price {
    margin-bottom: 14px; }
    .form .price__total {
      font-size: 58px;
      font-weight: 700; }
  .form__button {
    padding: 36px 95px; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: -10;
  opacity: 0;
  transition: opacity 0.3s, height 0s 0.3s, z-index 0s 0.3s; }
  .modal.open {
    height: 100%;
    opacity: 1;
    z-index: 100;
    transition: opacity 0.3s; }
  .modal__wrap {
    position: relative;
    max-width: 850px;
    max-height: 970px;
    padding: 70px 70px 100px 70px;
    border-radius: 60px;
    background-color: #ffffff;
    text-align: center; }
  .modal__close {
    position: absolute;
    top: 40px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    margin-left: auto;
    cursor: pointer; }
    .modal__close span {
      position: relative;
      width: 22px;
      height: 22px;
      transition: 0.3s ease-in-out; }
      .modal__close span:before, .modal__close span:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 29px;
        height: 2px;
        border-radius: 5px;
        background: #000; }
      .modal__close span:before {
        transform: rotate(45deg) translate(5px, 9px); }
      .modal__close span:after {
        transform: rotate(-45deg) translate(-9px, 5px); }
    .modal__close:hover span {
      transform: rotate(180deg); }
  .modal__title {
    margin-bottom: 10px;
    font-family: "TT Limes Slab";
    font-size: 56px;
    font-weight: 700; }
  .modal__subtitle {
    margin-bottom: 40px;
    font-size: 26px;
    font-weight: 600; }
  .modal__video {
    margin-bottom: 40px; }
  .modal__text {
    margin-bottom: 30px;
    font-family: "TT Limes Slab";
    font-size: 40px;
    font-weight: 700; }
  .modal-video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 290px;
    border-radius: 10px;
    background-color: #f6f1f1;
    background-repeat: no-repeat;
    background-size: cover; }

@media (min-width: 2400px) {
  .crisis {
    padding-top: 170px; }
    .crisis__heart {
      margin-top: 90px; }
    .crisis-text {
      margin: 30px  0 80px 0; } }

@media (max-width: 1999px) {
  body {
    font-size: 20px; }
  h1 {
    font-size: 70px; }
  .text-cloud {
    max-width: 700px;
    padding: 75px 50px; }
  .btn {
    padding: 30px 70px;
    font-size: 18px; }
  .heart__text {
    font-size: 36px; }
    .heart__text_left {
      font-size: 46px; }
    .heart__text_right {
      font-size: 40px; }
  .heart-image {
    max-width: 400px;
    margin: auto; }
    .heart-image__img:before {
      left: -110px; }
    .heart-image__text {
      top: -10px;
      left: -5px;
      font-size: 36px; }
  .crisis-text__large {
    font-size: 65px; }
  .problems__cloud {
    font-size: 22px; }
  .problems__text_large {
    font-size: 46px; }
  .problems .text_red {
    font-size: 32px; }
  .need__text_small {
    font-size: 26px; }
  .need__text_large {
    font-size: 62px; }
  .steps:before, .steps:after {
    height: 70%;
    width: 510px;
    background-size: contain; }
  .steps:before {
    left: calc((100% - 1170px) / 2 - 70px); }
  .steps:after {
    right: calc((100% - 1170px) / 2 - 50px); }
  .steps-cloud__large {
    font-size: 36px; }
  .steps-cloud .text_red {
    font-size: 40px; }
  .steps-video {
    max-width: 700px;
    padding: 100px 110px 90px 110px;
    font-size: 24px; }
    .steps-video__play {
      max-width: 120px; }
    .steps-video__time {
      font-size: 18px; }
  .program {
    padding: 155px 0 155px 0;
    font-size: 22px; }
    .program:after {
      width: 460px;
      height: 250px; }
    .program__title {
      font-size: 70px; }
    .program__subtitle {
      font-size: 32px; }
      .program__subtitle_large {
        font-size: 50px; }
  .lesson:before {
    top: -70px;
    width: 340px; }
  .lesson:nth-child(1):before {
    top: -50px;
    width: 380px; }
  .lesson:nth-child(4):before {
    width: 300px;
    height: 340px;
    background-position: 0 -240px;
    background-size: cover; }
  .lesson__name {
    font-size: 30px; }
  .about {
    font-size: 20px; }
    .about:before {
      right: calc((100% - 1170px) / 2);
      width: 420px;
      height: 667px; }
    .about__cloud {
      font-size: 36px; }
      .about__list li:before {
        top: 6px; }
  .sertificate__item:before {
    height: 144px; }
  .course__anchor {
    top: -45px; }
  .course__title {
    font-size: 48px; }
  .course .heart__content {
    font-size: 52px; }
  .form__title {
    margin-bottom: 30px; }
  .form__inputs {
    margin-bottom: 25px; }
  .form input {
    padding: 20px 30px;
    font-size: 18px; }
  .form__price {
    margin-bottom: 10px;
    font-size: 36px; }
  .form .price__total {
    font-size: 40px; }
  .form__button {
    width: 100%; }
  .modal__wrap {
    max-width: 650px;
    padding: 40px 50px 60px 50px; }
  .modal__close {
    top: 30px;
    right: 30px; }
  .modal__title {
    line-height: 1;
    font-size: 48px; }
  .modal__subtitle {
    margin-bottom: 30px;
    font-size: 20px; }
  .modal-video {
    min-height: 200px;
    margin-bottom: 20px; }
    .modal-video__play {
      max-width: 70px; }
  .modal__text {
    font-size: 24px; } }

@media (max-width: 1439px) {
  .container {
    width: 920px; }
  h1 {
    font-size: 52px; }
  .text-cloud {
    width: 700px; }
  .crisis {
    padding: 65px 0 20px 0; }
    .crisis-text__large {
      margin-bottom: 15px;
      font-size: 56px; }
    .crisis-text__small {
      font-size: 18px; }
      .crisis-text__small .text_upp {
        font-size: 24px; }
  .heart__text {
    font-size: 32px; }
    .heart__text-circle {
      margin-right: 15px;
      width: 30px;
      height: 30px; }
      .heart__text-circle:before {
        width: 20px;
        height: 20px; }
    .heart__text_bottom {
      margin-left: 10px; }
  .problems:before, .problems:after {
    height: 70%;
    background-size: contain; }
  .problems:before {
    left: -40px; }
  .problems__cloud {
    font-size: 20px;
    line-height: 1.3; }
  .problems__text_large {
    font-size: 40px; }
  .problems .text_red {
    font-size: 26px; }
  .problems__list_one {
    font-size: 42px; }
  .problems__list_two {
    font-size: 32px; }
  .problems__list_three {
    font-size: 40px; }
  .problems__list_four {
    font-size: 38px; }
  .problems__list-arrow img {
    max-height: 35px; }
  .problems__result {
    max-width: 365px;
    font-size: 20px; }
  .need__text {
    margin-bottom: 10px; }
    .need__text_small {
      font-size: 22px; }
    .need__text_large {
      margin-top: 10px;
      font-size: 54px; }
  .need__item {
    width: calc(33% - 20px); }
  .need-item__title {
    font-size: 40px; }
  .steps {
    padding: 320px 0 150px 0; }
    .steps:before {
      left: calc((100% - 920px) / 2 - 40px) }
    .steps:after {
      right: calc((100% - 920px) / 2 - 40px);
      bottom: 30px; }
  .program {
    padding: 110px 0 155px 0;
    font-size: 20px; }
    .program:after {
      display: none; }
    .program__title {
      font-size: 54px;
      margin-bottom: 30px; }
    .program__subtitle {
      margin-bottom: 70px;
      font-size: 24px; }
      .program__subtitle_large {
        font-size: 40px; }
    .program__lessons {
      max-width: 600px; }
  .lesson:before {
    height: 100%;
    left: 105%; }
  .lesson:nth-child(1):before {
      width: 340px; }
  .lesson:nth-child(4):before {
    width: 250px;
    height: 100%;
    background-position: 0px -200px; }
  .about {
    background-position: bottom;
    font-size: 18px; }
    .about__text {
      max-width: 630px; }
    .about:before {
      right: 20px;
      width: 300px;
      height: 477px; }
  .sertificate__item:before {
    height: 110px; }
  .course__title {
    font-size: 42px; }
  .course .heart__content {
    font-size: 46px; }
  .modal.open {
    display: none;
    opacity: 0; } }

@media (max-width: 1023px) {
  body {
    font-size: 15px; }
  h1 {
    font-size: 39px; }
  .container {
    width: 720px; }
  .text-cloud {
    width: 90%;
    max-width: 450px;
    padding: 35px; }
    .text-cloud:before {
      width: 70px;
      height: 70px; }
    .text-cloud:after {
      border: 15px solid transparent;
      border-top: 15px solid #ffffff; }
    .text-cloud div,
    .text-cloud span {
      position: relative;
      z-index: 1; }
  .more__toggle {
    margin: 10px 0 0 25px; }
    .more__toggle:before {
      height: 2px; }
  .cloud-bg {
    padding-bottom: 0; }
    .need {
      display: none;
    }
  .crisis {
    padding: 55px 0 20px 0; }
    .crisis__heart {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .crisis__text {
      margin-top: 35px;
      margin-bottom: 32px; }
    .crisis-text__large {
      font-size: 54px; }
    .crisis-text__small {
      font-size: 15px; }
      .crisis-text__small .text_upp {
        font-size: 21px; }
  .heart-image {
    order: -1;
    max-width: 300px;
    margin-bottom: 34px; }
    .heart-image__text {
      top: -55px;
      font-size: 29px; }
      .heart-image__text_left {
        right: calc(50% + 10px); }
      .heart-image__text_right {
        left: calc(50% + 30px); }
  .heart__text {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 0 10px 0;
    font-size: 28px;
    transform: rotate(0); }
    .heart__text-circle {
      display: none; }
  .problems {
    padding: 45px 0 95px 0; }
    .problems:before {
      left: 0px; }
    .problems:after {
      right: 30px; }  
    .problems__cloud {
      margin-bottom: 40px;
      font-size: 15px; }
      .problems__cloud:before {
        content: '';
        background-image: url(../img/screen-1/face-sad.png);
        background-size: 26px;
        background-position: center;
        background-repeat: no-repeat; }
    .problems__text_large {
      font-size: 24px; }
    .problems .text_red {
      font-size: 18px; }
    .problems__list_one {
      font-size: 29px; }
    .problems__list_two {
      font-size: 24px; }
    .problems__list_three {
      font-size: 29px; }
    .problems__list_four {
      font-size: 27px; }
    .problems__list-arrow img {
      max-height: 30px; }
    .problems__result {
      max-width: 300px;
      padding: 18px 35px;
      font-size: 15px; }
      .problems__result img {
        max-width: 30px; }
  .need {
    background-image: linear-gradient(2deg, #fdbf03 0%, #fce504 100%); }
    .need:before, .need__anchor {
      display: none; }
    .need__wrap {
      padding: 42px 0 70px 0; }
    .need__text_small {
      font-size: 15px; }
    .need__text_large {
      margin-bottom: 14px;
      font-size: 42px; }
    .need-item {
      width: calc(33% - 10px); }
      .need-item__text {
        font-size: 15px; }
  .steps {
    padding: 210px 0 70px 0; }
    .steps:before {
      left: calc((100% - 700px) / 2 - 20px) }
    .steps:after {
      right: calc((100% - 700px) / 2 - 20px);
      bottom: 30px; }
    .steps__cloud {
      top: -23px;
      width: 90%;
      max-width: 450px; }
    .steps-cloud__large {
      margin-bottom: 5px;
      font-size: 24px; }
    .steps-cloud .text_red {
      margin-bottom: 5px;
      font-size: 22px; }
    .steps .text-cloud {
      width: 100%; }
      .steps .text-cloud:before {
        content: '';
        top: -50px;
        background-image: url("../img/screen-1/face-good.png");
        background-size: 26px;
        background-position: center;
        background-repeat: no-repeat; }
    .steps-video {
      width: 90%;
      max-width: 450px;
      padding: 70px 20px 40px 20px;
      font-size: 15px; }
      .steps-video__play {
        max-width: 90px; }
      .steps-video__time {
        font-size: 11px; }
      .steps-video__text {
        width: 100%; }
  .program {
    padding: 50px 0 100px 0;
    font-size: 14px; }
    .program__anchor {
      display: none; }
    .program__title {
      margin-bottom: 30px;
      font-size: 42px; }
    .program__subtitle {
      margin-bottom: 40px;
      font-size: 20px; }
      .program__subtitle_large {
        font-size: 31px; }
    .program__lessons {
      max-width: 450px;
    margin-left: 30px; }
  .lesson {
    margin-bottom: 50px; }
    .lesson:nth-child(4):before {
      width: 180px;
      height: 110%;
      background-position: 0px -150px; }
    .lesson__name {
      margin-bottom: 10px;
      font-size: 18px; }
    .lesson__list li {
      margin-bottom: 3px;
      padding-left: 25px; }
  .about {
    padding: 140px 0 50px 0;
    font-size: 15px; }
    .about:before {
      width: 200px;
      height: 310px; }
    .about__cloud {
      top: -40px;
      width: 90%;
      max-width: 450px;
      font-size: 28px; }
    .about .text-cloud {
      width: 100%;
      padding: 35px; }
      .about .text-cloud:before {
        content: '';
        top: -60px;
        background-image: url("../img/screen-5/heart-icon-about.png");
        background-size: 26px;
        background-position: center;
        background-repeat: no-repeat; }
    .about__title {
      font-size: 29px; }
      .about__title_large {
        font-size: 39px; }
    .about__list li {
      padding-left: 25px; }
      .about__list li:before {
        top: 5px;
        width: 6px;
        height: 6px;
        border: 2px solid #727272; }
    .about__text {
      max-width: 530px; }
  .sertificate__item {
    max-width: 100px; }
    .sertificate__item:before {
      background-size: contain;
      background-position: 15px -4px; }
    .sertificate__item:hover {
      transform: scale(1); }
  .course {
    background-image: url("../img/screen-6/course-bg-mobile.png"), linear-gradient(to top, #f42c43 0%, #f46e53 100%);
    background-position: 80% 80%;
    background-size: 300%; }
    .course:before, .course__anchor {
      display: none; }
    .course__wrap {
      padding: 35px 0 110px 0; }
    .course__content {
      flex-direction: column; }
    .course__heart {
      margin-bottom: 80px;
      padding-top: 0;
      background-position: center;
      background-size: contain; }
    .course .heart__content {
      width: 100%; }
    .course .form {
      margin: auto; } }

@media (max-width: 767px) {
  .container {
    width: 320px; }
  .btn {
    width: 100%; }
  .text-cloud {
    width: 100%;
    padding: 35px 15px; }
  .heart-image__img:before {
    left: -80px; }
  .problems:before, .problems:after {
    display: none; }
  .problems__list div span {
    padding: 0; }
  .problems__list_two .problems__list-arrow {
    padding-right: 30px; }
  .need__items {
    flex-direction: column; }
  .need-item {
    width: 100%;
    text-align: center; }
  .steps {
    padding: 270px 0 70px 0; }
    .steps-video {
      width: 100%; }
    .steps:before, .steps:after {
      display: none; }
  .program {
    padding: 50px 0; }
  .program__lessons {
    max-width: 100%;
    margin: auto; }
  .lesson:before {
    display: none; }
  .about {
    padding: 140px 0 530px 0;
    background-image: url("../img/screen-5/about-bg-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center; }
    .about:before {
      width: 320px;
      height: 500px; }
  .sertificate {
    flex-wrap: wrap;
    justify-content: center; }
    .sertificate__item {
      width: calc(50% - 10px);
      max-width: 100%; }
      .sertificate__item:before {
        height: 200px;
        background-position: 0px 4px; }
  .course {
    background-image: url("../img/screen-6/course-bg-mobile.png"), linear-gradient(to top, #f42c43 0%, #f46e53 460%);
    background-position: 80% -280px;
    background-size: 460%; }
    .course .heart__content {
      font-size: 32px; }
  .form {
    padding: 30px 40px 50px 40px; }
    .form__title {
      font-size: 17px;
      padding: 0 5px; }
    .form__dots {
      padding: 18px 23px; }
    .form__dot {
      width: 15px;
      height: 15px; }
    .form input {
      padding: 13px 30px;
      font-size: 17px; }
    .form .btn {
      padding: 26px 70px;
      font-size: 13px; } }
   
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeIn {
  animation: fadeInDown 1s 0.2s both;
  -webkit-animation: fadeInDown 1s 0.2s both;
}
